name: PR Bot Monitor

on:
  repository_dispatch:   
  workflow_dispatch:    

jobs:
  monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Run PR Bot Monitor
        run: node index.js
        env:
          TOKEN: ${{ secrets.CDS_RELEASE_BOT_TOKEN }}          # GitHub App installation token
          STRAPI_ENDPOINT: ${{ secrets.STRAPI_ENDPOINT }}      # CMS endpoint
          GC_ARTICLES_ENDPOINT_EN: ${{ secrets.GC_ARTICLES_ENDPOINT_EN }}
          GC_ARTICLES_ENDPOINT_FR: ${{ secrets.GC_ARTICLES_ENDPOINT_FR }}
          NODE_ENV: Production